repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=500']
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
  - repo: local
    hooks:
      - id: mockery
        name: mockery
        entry: bash -c 'mockery'
        language: system
        verbose: false
      - id: cli-helper
        name: cli-helper
        entry: bash -c 'go run ./cmd/cvwonder > docs/github-pages/static/helper.out'
        language: system
        verbose: true
      - id: update-dockerhub-readme
        name: update-dockerhub-readme
        entry: bash -c 'scripts/update-dockerhub-readme.sh'
        language: system
        files: ^(CHANGELOG\.md|docs/dockerhub/README\.md)$
        verbose: true
      # - id: cvwonder-documentation
      #   name: cvwonder-documentation
      #   entry: bash -c 'cd docs/github-pages && pnpm build'
      #   language: system
      #   verbose: false
